html,
body {
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

.instances {
  .panel {
    .panel-body {
      height : $panel-inner-height
    }

    .panel-add {
      text-align : center;
      i {
        font-size: 8em;
      }
    }
  }
}